<!--- app/templates/conta_movimentos/edit.html -->

{% extends "base.html" %}

{% block title %}Editar Movimentação{% endblock %}
{% block page_title %}Editar Movimentação{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-black text-white">
                <h5 class="mb-0">Editar Movimentação ID: {{ movimento.id }}</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('conta_movimento.editar_movimentacao', id=movimento.id) }}">
                    {{ form.csrf_token }}

                    <div class="mb-1">
                        {{ form.conta_id.label(class="form-label") }}
                        {{ form.conta_id(class="form-select") }}
                        {% if form.conta_id.errors %}
                            <div class="text-danger">
                                {% for error in form.conta_id.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.conta_transacao_id.label(class="form-label") }}
                        {{ form.conta_transacao_id(class="form-select") }}
                        {% if form.conta_transacao_id.errors %}
                            <div class="text-danger">
                                {% for error in form.conta_transacao_id.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.data_movimento.label(class="form-label") }}
                        {{ form.data_movimento(class="form-control", type="date") }}
                        {% if form.data_movimento.errors %}
                            <div class="text-danger">
                                {% for error in form.data_movimento.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.valor.label(class="form-label") }}
                        {{ form.valor(class="form-control", type="number", step="0.01") }}
                        {% if form.valor.errors %}
                            <div class="text-danger">
                                {% for error in form.valor.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-1"> 
                        {{ form.descricao.label(class="form-label") }}
                        {{ form.descricao(class="form-control", rows="3") }}
                        {% if form.descricao.errors %}
                            <div class="text-danger">
                                {% for error in form.descricao.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                    </div>
                    {{ form.submit(class="btn btn-primary btn-add") }}
                    <a href="{{ url_for('conta_movimento.listar_movimentacoes') }}" class="btn btn-secondary btn-add">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
