/* app/static/css/style.css */

/* ==========================================================================
   1. CORES
   ========================================================================== */

:root {
    --wf-white: #ffffff;
    --wf-grey: #444444;
    --wf-ultra-light: #eceff1;
    --wf-light: #bebebe;
    --wf-sidebar-bg: #1B4F72;
    --wf-border: #6e6e6e;
    --wf-text-light: #BDC3C7;
    --wf-info: #0753c4;
    --wf-warning: #c79c19;
    --wf-danger: #dc3545;
    --wf-primary: #0b6dff;
    --wf-secondary: #6c757d;
    --wf-box-positivo: #d4edda;
    --wf-borda-positivo: #28a745;
    --wf-box-negativo: #f8d7da;
    --wf-borda-negativo: #dc3545;
    --wf-shadow: rgba(0, 0, 0, 0.1);
}


/* ==========================================================================
   2. ESTILOS DE BASE E TIPOGRAFIA
   ========================================================================== */

body,
html {
    overflow: hidden;
    height: 100%;
}

body {
    font-size: 0.9rem;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 2.2rem;
}

h2,
.h2 {
    font-size: 1.8rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.3rem;
}

h5,
.h5 {
    font-size: 1.1rem;
}

h6,
.h6 {
    font-size: 0.9rem;
}

/* ==========================================================================
   3. LAYOUT PRINCIPAL (SIDEBAR E CONTEÚDO)
   ========================================================================== */

#wrapper {
    overflow-x: hidden;
    height: 100vh;
}

#sidebar-wrapper.bg-modified {
    background-color: var(--wf-sidebar-bg) !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
    width: 14rem;
    display: flex;
    flex-direction: column;
}

#sidebar-wrapper .list-group-item {
    border-color: var(--wf-border);
    color: var(--wf-text-light)
}

#sidebar-wrapper .list-group-item-action:hover {
    color: var(--wf-warning);
}

#page-content-wrapper {
    min-width: 100vw;
    overflow-y: auto;
    height: 100vh;
}

#page-content-wrapper>.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.button-menu {
    background-color: var(--wf-sidebar-bg);
    color: var(--wf-text-light)
}

/* ==========================================================================
   4. ESTILOS DE COMPONENTES
   ========================================================================== */

.navbar.bg-dark {
    background-color: var(--wf-grey) !important;
    border-bottom-color: var(--wf-border) !important;
}

.navbar .nav-link {
    color: var(--wf-text-light);
    transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
    color: var(--wf-white);
}

/* --- Tabelas --- */
.table {
    font-size: 0.75rem;
}

.table td,
.table th {
    padding: 0.1rem 0.2rem;
    height: 15px;
    line-height: 1.2rem;
    vertical-align: middle;
    white-space: nowrap;
}

.table .badge {
    padding: 0 0.25em;
    line-height: 1rem;
    font-size: 0.65rem;
}

.table i {
    font-size: 0.7rem;
    line-height: 1rem;
}

.table .btn {
    padding: 0 !important;
    line-height: 1rem;
    height: auto;
}

.table form {
    margin: 0;
    padding: 0;
}

.table-responsive {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.table-actions {
    white-space: nowrap;
}

.table-actions .btn,
.table-actions form {
    display: inline-flex;
    vertical-align: middle;
}

.table-actions .btn {
    width: 15px;
    height: 15px;
    padding: 0;
    font-size: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.table-actions .btn.btn-info i {
    color: var(--wf-info);
}

.table-actions .btn.btn-warning i {
    color: var(--wf-warning);
}

.table-actions .btn.btn-danger i {
    color: var(--wf-danger);
}

.table-actions .btn.btn-primary i {
    color: var(--wf-primary);
}

.table-actions .btn.btn-secondary i {
    color: var(--wf-secondary);
}

.table-actions .btn:hover i {
    opacity: 0.5;
}

/* --- Formulários --- */
.form-control,
.form-select,
.form-check-label {
    font-size: 0.9rem;
}

.form-text {
    font-size: 0.7rem;
}

/* --- Cards e Alertas --- */
.card-header h5 {
    font-size: 1.05rem;
}

.card-borders {
    border: 1px solid var(--wf-border);
    border-radius: 0rem;
}

.alert {
    font-size: 0.85rem;
}

/* --- Navegação e Itens da Sidebar --- */
.navbar-nav .nav-link {
    font-size: 0.95rem;
}

.list-group-item {
    font-size: 0.85rem;
    color: var(--wf-text-light)
}

.collapse.list-group-flush .list-group-item {
    border-bottom: none !important;
}

.collapse.list-group-flush .list-group-item i {
    color: var(--wf-warning) !important;
}

.logged-in-user-info {
    font-size: 0.7rem;
    color: var(--wf-secondary);
}

/* --- Outros Componentes --- */
.badge {
    font-size: 0.7rem;
    padding: 0.25em 0.5em;
}

.saldo-positivo-box {
    background-color: var(--wf-box-positivo);
    border: 1px solid var(--wf-borda-positivo);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

.saldo-negativo-box {
    background-color: var(--wf-box-negativo);
    border: 1px solid var(--wf-borda-negativo);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1080;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    line-height: 1;
}


/* ==========================================================================
   5. CLASSES UTILITÁRIAS
   ========================================================================== */

.extra-small {
    font-size: 0.7rem !important;
}

.extra-small-2 {
    font-size: 0.6rem !important;
}

.btn-add {
    font-size: 0.9rem !important;
    padding: 0.2rem 1rem !important;
}

.btn-add i {
    margin-right: 1px;
}


/* ==========================================================================
   6. ESTILOS DE PÁGINAS ESPECÍFICAS
   ========================================================================== */

body.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--wf-sidebar-bg);
    overflow: auto;
}

.login-container {
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border: 1px solid var(--wf-sidebar-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--wf-shadow);
    background-color: var(--wf-white);
}

.logo-login {
    max-height: 50px;
    width: auto;
}

.error-container {
    background: var(--wf-white);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-width: 800px;
    width: 90%;
}

/* Estilo do logotipo */
.error-container .error-icon {
    max-width: 150px;
}

/* ==========================================================================
   7. RESPONSIVIDADE (MEDIA QUERIES)
   ========================================================================== */

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -14rem;
    }
}

@media (max-width: 767.98px) {

    h1,
    .h1 {
        font-size: 1.8rem;
    }

    h2,
    .h2 {
        font-size: 1.5rem;
    }

    h3,
    .h3 {
        font-size: 1.3rem;
    }

    h4,
    .h4 {
        font-size: 1.1rem;
    }

    .table {
        font-size: 0.8rem;
    }

    .table-actions .btn {
        min-width: auto;
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }

    .table-responsive {
        max-width: 100%;
        padding: 0;
    }
}
