<!-- app\templates\relatorios\resumo_salario.html -->

{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-12">
    <div class="caixa-sombreada mb-2">
      <span class="text-dark fw-bold">Resumo da Folha:</span>
      <span class="text-danger"
        >Visão anual consolidada dos salários, exibidos mês a mês.</span
      >
    </div>

    <div class="card shadow-sm mb-2">
      <div class="card-body py-2">
        <form
          id="form-resumo-folha"
          method="GET"
          action="{{ url_for('relatorios.resumo_salario') }}"
        >
          <div class="row align-items-center">
            <div class="col-md-2" style="width: 150px">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fas fa-calendar-alt"></i
                ></span>
                {{ form.ano(class="form-select fw-semibold text-danger",
                id="ano_resumo_folha") }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% if dados %}

    <div class="card border-1">
      <div class="card-body p-2">
        <div class="table-responsive table-scroll">
          <table
            id="tabelaResumoSalario"
            class="table table-padrao table-sticky-col table-hover"
          >
            <thead class="table-white text-center">
              <tr>
                <th class="text-start text-dark">Verba</th>
                {% for mes in dados.meses %}
                <th>
                  {{ '%02d'|format(mes) }}/{{ '%02d'|format(ano_selecionado %
                  100) }}
                </th>
                {% endfor %}
                <th>Total</th>
              </tr>
            </thead>

            <tbody>
              {% macro render_section(data, title, bg_color, text_color,
              total_data) %} {% if data %}
              <tr class="table-group-divider">
                <td colspan="14" class="fw-semibold {{ bg_color }}">
                  {{ title }}
                </td>
              </tr>

              {% for linha in data %}
              <tr>
                <td class="ps-3">{{ linha.nome }}</td>
                {% for valor in linha.valores_mes %}
                <td class="col-valor text-end {{ text_color }}">
                  {{ valor | format_number if valor != 0 else '-' }}
                </td>
                {% endfor %}

                <td class="col-valor text-end fw-bold table-secondary">
                  {{ linha.total_anual | format_number }}
                </td>
              </tr>
              {% endfor %}

              <tr class="{{ bg_color }} fw-bold">
                <td class="ps-1">{{ total_data.nome }}</td>

                {% for valor in total_data.valores_mes %}
                <td class="col-valor text-end">
                  {{ valor | format_number if valor != 0 else '-' }}
                </td>
                {% endfor %}

                <td class="col-valor text-end table-secondary">
                  {{ total_data.total_anual | format_number }}
                </td>
              </tr>

              {% endif %} {% endmacro %} {{
              render_section(dados.tabela.Provento, 'Proventos',
              'bg-success-subtle', 'text-dark', dados.totais.proventos) }} {{
              render_section(dados.tabela.Benefício, 'Benefícios',
              'bg-primary-subtle', 'text-dark', dados.totais.beneficios) }} {{
              render_section(dados.tabela.Desconto, 'Descontos',
              'bg-danger-subtle', 'text-dark', dados.totais.descontos) }} {{
              render_section(dados.tabela.Imposto, 'Impostos',
              'bg-warning-subtle', 'text-dark', dados.totais.impostos) }}

              <tr class="table-info fw-bold table-group-divider">
                <td class="ps-1">{{ dados.salario_liquido.nome }}</td>

                {% for valor in dados.salario_liquido.valores_mes %}
                <td class="col-valor text-end">{{ valor | format_number }}</td>
                {% endfor %}

                <td class="col-valor text-end fw-bold">
                  {{ dados.salario_liquido.total_anual | format_number }}
                </td>
              </tr>

              {% if dados.tabela.FGTS %}
              <tr class="table-group-divider">
                <td colspan="14" class="fw-semibold bg-secondary-subtle">
                  FGTS
                </td>
              </tr>

              {% for linha in dados.tabela.FGTS %}
              <tr>
                <td class="ps-2">{{ linha.nome }}</td>

                {% for valor in linha.valores_mes %}
                <td class="col-valor text-end text-dark">
                  {{ valor | format_number if valor != 0 else '-' }}
                </td>
                {% endfor %}

                <td class="col-valor text-end fw-bold table-secondary">
                  {{ linha.total_anual | format_number }}
                </td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% else %}

    <div class="alert alert-info text-center mt-3">
      Nenhum dado de folha de pagamento encontrado para o ano selecionado.
    </div>

    {% endif %}
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/extratos.js') }}"></script>
{% endblock %}
