<!--- app\templates\crediario_subgrupos\edit.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field %}
{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header bg-warning">
        <h5 class="mb-0 d-flex align-items-center">
          <i class="fas fa-exclamation-triangle fa-lg mx-2 text-dark"></i>
          <span class="flex-grow-1 text-center">
            Editar Subgrupo: {{subgrupo.nome }}
          </span>
        </h5>
      </div>
      <div class="card-body">
        <form
          method="POST"
          action="{{ url_for('crediario_subgrupo.editar_subgrupo', id=subgrupo.id) }}"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">{{ render_field(form.grupo_id) }}</div>
          <div class="mb-3">{{ render_field(form.nome) }}</div>

          <div class="mt-1">
            <button type="submit" class="btn btn-amarelo">
              <i class="fas fa-save me-2"></i>
              {{ form.submit.label.text }}
            </button>
            <a
              href="{{ url_for('crediario_subgrupo.listar_subgrupos') }}"
              class="btn btn-cinza"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
