<!--- app/templates/crediarios/add.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field,
render_checkbox %}{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header menu-primario">
        <h5 class="mb-0">
          <i class="px-2 fas fa-plus fa-lg text-warning"></i>Cadastro de
          Crediário
        </h5>
      </div>
      <div class="card-body">
        <form
          method="POST"
          action="{{ url_for('crediario.adicionar_crediario') }}"
        >
          {{ form.csrf_token }}

          <div class="row">
            <div class="col-md-7 mb-3">
              {{ render_field(form.nome_crediario) }}
            </div>
            <div class="col-md-5 mb-3">
              {{ render_field(form.tipo_crediario) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              {{ render_field(form.identificador_final, attrs={'placeholder':
              'Opcional'}) }}
            </div>
            <div class="col-md-4 mb-3">
              {{ render_field(form.limite_total, attrs={'type': 'number',
              'step': '0.01'}) }}
            </div>
            <div class="col-md-4 mb-3">
              {{ render_field(form.dia_vencimento, attrs={'type': 'number',
              'min': '1', 'max': '31'}) }}
            </div>
          </div>

          <div class="mb-3">{{ render_checkbox(form.ativa) }}</div>

          <div class="mt-1">
            <button type="submit" class="btn btn-azul">
              <i class="fas fa-save text-warning me-1"></i> {{ form.submit.label.text }}
            </button>
            <a
              href="{{ url_for('crediario.listar_crediarios') }}"
              class="btn btn-cinza"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
