<!--- app/templates/conta_transacoes/add.html -->

{% extends "base.html" %}

{% block title %}Web Finance - TR Bancárias{% endblock %}
{% block page_title %}Adicionar Tipo de Transação{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Formulário de Cadastro de Tipo de Transação</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('conta_transacao.adicionar_tipo_transacao') }}">
                    {{ form.csrf_token }}

                    <div class="mb-1">
                        {{ form.transacao_tipo.label(class="form-label") }}
                        {{ form.transacao_tipo(class="form-control") }}
                        {% if form.transacao_tipo.errors %}
                            <div class="text-danger">
                                {% for error in form.transacao_tipo.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.tipo.label(class="form-label") }}
                        {{ form.tipo(class="form-select") }}
                        {% if form.tipo.errors %}
                            <div class="text-danger">
                                {% for error in form.tipo.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                    </div>
                    {{ form.submit(class="btn btn-success btn-add") }}
                    <a href="{{ url_for('conta_transacao.listar_tipos_transacao') }}" class="btn btn-secondary btn-add">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
