<!--- app/templates/conta_transacoes/edit.html -->

{% extends "base.html" %}

{% block title %}Web Finance - TR Bancárias{% endblock %}
{% block page_title %}Editar Tipo de Transação{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Editar Tipo de Transação: {{
                    tipo_transacao.transacao_tipo }}</h5>
            </div>
            <div class="card-body">
                <form method="POST"
                    action="{{ url_for('conta_transacao.editar_tipo_transacao', id=tipo_transacao.id) }}">
                    {{ form.csrf_token }}

                    <div class="row">
                        <div class="col-md-7 mb-3">
                            {{ form.transacao_tipo.label(class="form-label") }}
                            {{ form.transacao_tipo(class="form-control") }}
                            {% if form.transacao_tipo.errors %}
                            <div class="text-danger">
                                {% for error in form.transacao_tipo.errors %}{{
                                error }}{% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5 mb-3">
                            {{ form.tipo.label(class="form-label") }}
                            {{ form.tipo(class="form-select") }}
                            {% if form.tipo.errors %}
                            <div class="text-danger">
                                {% for error in form.tipo.errors %}{{ error }}{%
                                endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3">
                    </div>
                    <button type="submit" class="btn btn-info btn-add">
                        <i class="fas fa-save"></i> {{ form.submit.label.text }}
                    </button>
                    <a
                        href="{{ url_for('conta_transacao.listar_tipos_transacao') }}"
                        class="btn btn-secondary btn-add">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
