<!-- app/templates/includes/_sidebar.html -->

<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4">
        <a href="{{ url_for('main.dashboard') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                alt="Logo Web Finance"
                class="img-fluid" style="max-width: 120px; height: auto;">
        </a>
    </div>
    <!-- Grupo de links de navegação na sidebar -->
    <div class="list-group list-group-flush">
        <a href="{{ url_for('main.dashboard') }}"
            class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-tachometer-alt me-2"></i>Dashboard
        </a>

        <!-- Menu "Cadastro" -->
        <a href="#submenuCadastro" data-bs-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action bg-light dropdown-toggle">
            <i class="fas fa-folder me-2"></i>Cadastro
        </a>
        <div class="collapse list-group-flush" id="submenuCadastro">
            <a href="{{ url_for('usuario.listar_usuarios') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-users me-2"></i>Usuários
            </a>
            <a href="{{ url_for('conta.listar_contas') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-wallet me-2"></i>Contas Bancárias
            </a>
            <a href="{{ url_for('crediario.listar_crediarios') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-credit-card me-2"></i>Crediários
            </a>
            <a href="{{ url_for('desp_rec.listar_cadastros') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-money-check-alt me-2"></i>Despesas e Receitas
            </a>
        </div>

        <!-- Menu "Financiamentos" -->
        <a href="#submenuFinanciamentos" data-bs-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action bg-light dropdown-toggle">
            <i class="fas fa-university me-2"></i>Financiamentos
        </a>
        <div class="collapse list-group-flush" id="submenuFinanciamentos">
            <a href="{{ url_for('financiamento.listar_financiamentos') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-hand-holding-usd me-2"></i>Gerenciar
            </a>
        </div>

        <!-- Menu "Movimentações" -->
        <a href="#submenuMovimentacoes" data-bs-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action bg-light dropdown-toggle">
            <i class="fas fa-exchange-alt me-2"></i>Movimentações
        </a>
        <div class="collapse list-group-flush" id="submenuMovimentacoes">
            <a href="{{ url_for('conta_movimento.listar_movimentacoes') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-file-invoice-dollar me-2"></i>Bancária
            </a>
            <a
                href="{{ url_for('crediario_movimento.listar_movimentos_crediario') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-shopping-cart me-2"></i>Crediário
            </a>
            <a href="{{ url_for('desp_rec_movimento.listar_movimentos') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-calendar-alt me-2"></i>Despesas e Receitas
            </a>
        </div>

        <!-- Menu "Extratos" -->
        <a href="#submenuExtratos" data-bs-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action bg-light dropdown-toggle">
            <i class="fas fa-file-alt me-2"></i>Extratos
        </a>
        <div class="collapse list-group-flush" id="submenuExtratos">
            <a href="{{ url_for('extrato.extrato_bancario') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-university me-2"></i>Bancário
            </a>
            <a href="{{ url_for('crediario_fatura.listar_faturas') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-receipt me-2"></i>Crediário
            </a>
            <a
                href="{{ url_for('extrato_desp_rec.extrato_despesas_receitas') }}"
                class="list-group-item list-group-item-action bg-light ps-4">
                <i class="fas fa-chart-line me-2"></i>Despesas e Receitas
            </a>
        </div>

        <!-- Links gerais de navegação -->
        <a href="{{ url_for('auth.logout') }}"
            class="list-group-item list-group-item-action bg-light text-danger">
            <i class="fas fa-sign-out-alt me-2"></i>Sair
        </a>
    </div>
    {% if current_user.is_authenticated %}
    <div
        class="list-group-item bg-light text-secondary mt-auto py-2 px-2 text-left logged-in-user-info">
        Usuário: <strong>{{ current_user.login }}</strong>
    </div>
    {% endif %}
</div>
