<!--- app\templates\salario_movimento\add.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field %}
{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header menu-primario">
        <h5 class="mb-0">Adicionar Folha de Pagamento</h5>
      </div>
      <div class="card-body">
        <p class="caixa-sombreada">
          Selecione o tipo e a referência.
          <br />
          <small class="text-muted"
            >* Mensal: Vencimento automático (5° dia útil do mês
            seguinte).</small
          ><br />
          <small class="text-muted"
            >* Outros: Informe a data de recebimento.</small
          >
        </p>
        <form
          method="POST"
          action="{{ url_for('salario.novo_lancamento_folha') }}"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <div class="row mb-3 g-3">
            <div class="col-md-6">
              {{ render_field(form.tipo, attrs={'id': 'tipo_folha'}) }}
            </div>

            <div class="col-md-6">
              {{ form.mes_referencia.label(class="form-label mb-0 small") }} {{
              form.mes_referencia(class="form-control form-control-sm",
              id="mes_referencia", type="month") }} {% if
              form.mes_referencia.errors %}
              <div class="text-danger mt-1 small">
                {% for error in form.mes_referencia.errors %} {{ error }}<br />
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="col-md-6" id="container_data_recebimento">
              {{ render_field(form.data_recebimento, attrs={'type': 'date'}) }}
            </div>
          </div>

          <div class="mt-1">
            {{ form.submit(class="btn btn-azul") }}
            <a
              href="{{ url_for('salario.listar_movimentos') }}"
              class="btn btn-cinza"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/salario_form.js') }}"></script>
{% endblock %}
