<!--- app\templates\salario_movimento\add.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field %}
{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Adicionar Folha de Pagamento</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          Selecione o mês de referência e o sistema irá sugerir a data de
          recebimento padrão (5º dia útil do mês seguinte).
        </p>
        <form
          method="POST"
          action="{{ url_for('salario.novo_lancamento_folha') }}"
        >
          {{ form.csrf_token }} {{ form.data_recebimento }}
          <div class="row mb-3 align-items-end">
            <div class="col-md-6">
              {{ form.mes_referencia.label(class="form-label") }} {{
              form.mes_referencia(class="form-control input-normal",
              id="mes_referencia") }} {% if form.mes_referencia.errors %}
              <div class="text-danger mt-1">
                <small>
                  {% for error in form.mes_referencia.errors %} {{ error }}<br />
                  {% endfor %}
                </small>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="mt-4">
            {{ form.submit(class="btn btn-azul ") }}
            <a
              href="{{ url_for('salario.listar_movimentos') }}"
              class="btn btn-cinza"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/salario_form.js') }}"></script>
{% endblock %}
