<!--- app\templates\crediario_faturas\gerar.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field %}
{% block title %}Web Finance - Crediário{% endblock %} {% block page_title
%}Gerar Fatura de Crediário{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Gerar Nova Fatura</h5>
      </div>
      <div class="card-body">
        <form id="form-gerar-fatura" method="POST">
          {{ form.csrf_token }} {{ render_field(form.crediario_id) }} {{
          render_field(form.mes_ano) }}
          <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-add">
              <span
                class="spinner-border spinner-border-sm me-2 d-none"
                role="status"
                aria-hidden="true"
              ></span>
              <i class="fas fa-file-invoice-dollar button-icon"></i>
              <span class="button-text">{{ form.submit.label.text }}</span>
            </button>
            <a
              href="{{ url_for('crediario_fatura.listar_faturas') }}"
              class="btn btn-secondary btn-add"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/form-spinner.js') }}"></script>
{% endblock %}
