<!--- app/templates/financiamentos/edit.html -->

{% extends "base.html" %}

{% block title %}Web Finance - Financiamentos{% endblock %}
{% block page_title %}Editar Financiamento{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Editar Financiamento: {{
                    financiamento.nome_financiamento }}</h5>
            </div>
            <div class="card-body">
                <form method="POST"
                    action="{{ url_for('financiamento.editar_financiamento', id=financiamento.id) }}">
                    {{ form.csrf_token }}

                    <div class="row">
                        <div class="col-md-7 mb-3">
                            {{ form.nome_financiamento.label(class="form-label")
                            }}
                            {{ form.nome_financiamento(class="form-control") }}
                            {% if form.nome_financiamento.errors %}
                            <div class="text-danger">
                                {% for error in form.nome_financiamento.errors
                                %}{{
                                error }}{% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5 mb-3">
                            <label class="form-label">Conta Bancária</label>
                            <input type="text" class="form-control"
                                value="{{ financiamento.conta.nome_banco }} ({{ financiamento.conta.conta }})"
                                readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Valor Total</label>
                            <input type="text" class="form-control"
                                value="R$ {{ '%.2f'|format(financiamento.valor_total_financiado) }}"
                                readonly>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Saldo Devedor
                                Atual</label>
                            <input type="text" class="form-control"
                                value="R$ {{ '%.2f'|format(financiamento.saldo_devedor_atual) }}"
                                readonly>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">% Juros Anual</label>
                            <input type="text" class="form-control"
                                value="{{ '%.4f'|format(financiamento.taxa_juros_anual) }}%"
                                readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Data de Início</label>
                            <input type="text" class="form-control"
                                value="{{ financiamento.data_inicio.strftime('%d/%m/%Y') }}"
                                readonly>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Prazo (em meses)</label>
                            <input type="text" class="form-control"
                                value="{{ financiamento.prazo_meses }}"
                                readonly>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Amortização</label>
                            <input type="text" class="form-control"
                                value="{{ financiamento.tipo_amortizacao }}"
                                readonly>
                        </div>
                    </div>
                    <div class="mb-1">
                        {{ form.descricao.label(class="form-label") }}
                        {{ form.descricao(class="form-control", rows="3") }}
                        {% if form.descricao.errors %}
                        <div class="text-danger">
                            {% for error in form.descricao.errors %}{{ error
                            }}{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                    </div>
                    <button type="submit" class="btn btn-info btn-add">
                        <i class="fas fa-save"></i> {{ form.submit.label.text }}
                    </button>
                    <a
                        href="{{ url_for('financiamento.listar_financiamentos') }}"
                        class="btn btn-secondary btn-add">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
