<!--- app/templates/crediario_grupos/add.html -->

{% extends "base.html" %} {% from "includes/_macros.html" import render_field %}
{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Cadastro de Grupo de Crediário</h5>
      </div>
      <div class="card-body">
        <form
          method="POST"
          action="{{ url_for('crediario_grupo.adicionar_grupo_crediario') }}"
        >
          {{ form.csrf_token }}

          <div class="row">
            <div class="col-md-7 mb-3">
              {{ render_field(form.grupo_crediario) }}
            </div>
            <div class="col-md-5 mb-3">
              {{ render_field(form.tipo_grupo_crediario) }}
            </div>
          </div>

          <div class="mb-3">{{ render_field(form.descricao) }}</div>

          <div class="mt-4">
            <button type="submit" class="btn btn-azul">
              <i class="fas fa-save"></i> {{ form.submit.label.text }}
            </button>
            <a
              href="{{ url_for('crediario_grupo.listar_grupos_crediario') }}"
              class="btn btn-cinza"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
