<!--- app/templates/crediario_grupos/edit.html -->

{% extends "base.html" %}

{% block title %}Editar Grupo de Crediário{% endblock %}
{% block page_title %}Editar Grupo de Crediário{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Editar Grupo de Crediário: {{
                    grupo_crediario_obj.grupo_crediario }}</h5>
            </div>
            <div class="card-body">
                <form method="POST"
                    action="{{ url_for('crediario_grupo.editar_grupo_crediario', id=grupo_crediario_obj.id) }}">
                    {{ form.csrf_token }}

                    <div class="mb-1">
                        {{ form.grupo_crediario.label(class="form-label") }}
                        {{ form.grupo_crediario(class="form-control") }}
                        {% if form.grupo_crediario.errors %}
                        <div class="text-danger">
                            {% for error in form.grupo_crediario.errors %}{{
                            error }}{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.tipo_grupo_crediario.label(class="form-label")
                        }}
                        {{ form.tipo_grupo_crediario(class="form-select") }}
                        {% if form.tipo_grupo_crediario.errors %}
                        <div class="text-danger">
                            {% for error in form.tipo_grupo_crediario.errors
                            %}{{ error }}{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        {{ form.descricao.label(class="form-label") }}
                        {{ form.descricao(class="form-control", rows="3") }}
                        {% if form.descricao.errors %}
                        <div class="text-danger">
                            {% for error in form.descricao.errors %}{{ error
                            }}{% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3"> 
                    </div>
                    {{ form.submit(class="btn btn-primary btn-add") }}
                    <a
                        href="{{ url_for('crediario_grupo.listar_grupos_crediario') }}"
                        class="btn btn-secondary btn-add">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
